{% extends "../base.html" %}
{% block title %}coonoor{% endblock %}
{% block style %}style.css{% endblock %}
{% load static %}
{% block content %}
<div id="card-slider" style="background-color: #e1fda0;">
    <div class="container">
      <div class="row">
        {% for i in cards %}
          <div class="col-lg-3 col-md-4 col-sm-11 mb-3" style="padding-top: 20px; margin-right: 15px;">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{ i.image.url }}" alt="Card image cap" style="height: 200px;">
              <div class="card-body"style="height: 250px;">
                <h5 class="card-title">{{ i.title }}</h5>
                <p class="card-text">{{ i.discription }}.</p>
                <p class="card-text">₹{{ i.price }} only.</p>
                <a href="{% url 'coonoor_specific' i.id %}"><button type="submit">book now</button></a>

              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
